@import url("https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@100;300;400;500;700&family=Poppins:wght@100;200;300;400;500;600;700;800;900&display=swap");
* {
  margin: 0;
  padding: 0;
}

body {
  line-height: 1;
}

ul, ol, li {
  list-style: none;
}

a {
  text-decoration: none;
}

h1, h2, h3, h4, h5, h6 {
  font-size: 100%;
}

img, video {
  vertical-align: top;
}

input, button {
  outline: none;
}

body {
  -ms-overflow-style: none;
}

::-webkit-scrollbar {
  display: none;
}

body {
  font-family: "Noto Sans KR", sans-serif;
}

.poppins {
  font-family: "Poppins", sans-serif;
}

#header {
  display: flex;
  justify-content: center;
  background: #fff;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  z-index: 9999;
  border-bottom: 1px solid #ccc;
  transition: all 0.5s;
  box-shadow: 0 10px 10px rgba(0, 0, 0, 0.1);
}
#header .center {
  width: 80%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 40px 0 30px;
}
#header .center .logo {
  width: 120px;
  position: relative;
}
#header .center .logo img {
  width: 100%;
  transition: all 0.5s;
}
#header .center .logo .logo_bk {
  opacity: 1;
}
#header .center .logo .logo_wh {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
}
#header .center .gnb {
  display: flex;
}
#header .center .gnb li {
  margin-left: 40px;
}
#header .center .gnb li:hover a::before {
  top: -8px;
  left: 2px;
  opacity: 1;
}
#header .center .gnb li a {
  font-size: 18px;
  font-weight: 300;
  color: #000;
  position: relative;
}
#header .center .gnb li a::before {
  content: "";
  display: block;
  width: 7px;
  height: 7px;
  border-radius: 100%;
  position: absolute;
  top: -30px;
  left: 0;
  background: #f53024;
  opacity: 0;
  transition: all 0.5s;
}
#header .center .gnb li.on a::before {
  top: -8px;
  left: 2px;
  opacity: 1;
}

#header.on {
  background: transparent;
  border-bottom: 1px solid transparent;
}
#header.on .center .logo .logo_bk {
  opacity: 0;
}
#header.on .center .logo .logo_wh {
  opacity: 1;
}
#header.on .center .gnb li a {
  color: #fff;
}
#header.on .center .gnb li a::before {
  background: #fff;
}

@media screen and (max-width: 1200px) {
  #header .center {
    width: 90%;
  }
}
@media screen and (max-width: 820px) {
  #header .center .gnb li {
    margin-left: 30px;
  }
}
@media screen and (max-width: 768px) {
  #header .center {
    width: 90%;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0 20px;
  }
  #header .center .logo {
    width: 100px;
    margin-bottom: 30px;
  }
  #header .center .gnb {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  #header .center .gnb li {
    margin-left: 0;
    text-align: center;
  }
  #header .center .gnb li:hover a::before {
    top: -8px;
    left: 2px;
    opacity: 1;
  }
  #header .center .gnb li a {
    font-size: calc(10px + 1.2vw);
    font-weight: 300;
    color: #000;
    position: relative;
  }
  #header .center .gnb li a::before {
    content: "";
    display: block;
    width: 6px;
    height: 6px;
    border-radius: 100%;
    position: absolute;
    top: -30px;
    left: 0;
    background: #f53024;
    opacity: 0;
    transition: all 0.5s;
  }
  #header .center .gnb li.on a::before {
    top: -8px;
    left: 2px;
    opacity: 1;
  }
  #header.on {
    background: transparent;
    border-bottom: 1px solid transparent;
  }
  #header.on .center .logo .logo_bk {
    opacity: 0;
  }
  #header.on .center .logo .logo_wh {
    opacity: 1;
  }
  #header.on .center .gnb li a {
    color: #fff;
  }
  #header.on .center .gnb li a::before {
    background: #fff;
  }
}
.main {
  width: 100%;
  height: 100vh;
  background: #111;
  display: flex;
  align-items: center;
  justify-content: center;
  position: relative;
  overflow: hidden;
}
.main .bg_circleWrap .bg_circle {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 50px;
  height: 50px;
  border-radius: 100%;
  background: #bc0400;
  transition: all 10s;
}
.main .bg_circleWrap .bg_circle.left {
  left: -100px;
}
.main .bg_circleWrap .bg_circle.right {
  left: calc(100% + 100px);
}
.main .bg_circleWrap.on .bg_circle.left {
  animation: circleAnimationLeft 1.5s ease-in 1 forwards;
}
.main .bg_circleWrap.on .bg_circle.right {
  animation: circleAnimationRight 1.5s ease-in 1 forwards;
}
@keyframes circleAnimationLeft {
  0% {
    left: -100px;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
  }
  60% {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
  }
  100% {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150vw;
    height: 150vw;
  }
}
@keyframes circleAnimationRight {
  0% {
    left: calc(100% + 100px);
    transform: translate(0, -50%);
    width: 50px;
    height: 50px;
  }
  60% {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 50px;
    height: 50px;
  }
  100% {
    left: 50%;
    transform: translate(-50%, -50%);
    width: 150vw;
    height: 150vw;
  }
}
.main .center {
  width: 65%;
  z-index: 20;
}
.main .center p {
  color: #fff;
  font-weight: 300;
  font-size: 36px;
  letter-spacing: -0.5px;
  text-align: center;
}
.main .center .title {
  font-size: calc(4vw + 4vh + 2vmin);
  font-weight: 800;
  line-height: 1.4;
  letter-spacing: -0.5px;
  color: #fff;
  text-align: center;
  mix-blend-mode: multiply;
}
.main .center .title span {
  font-weight: 300;
}

.sectionTitle {
  font-size: 60px;
  padding-bottom: 10px;
  margin-bottom: 60px;
}
.sectionTitle::after {
  content: "";
  display: inline-block;
  width: 15px;
  height: 15px;
  background: #bc0400;
  border-radius: 100%;
}
.sectionTitle span {
  display: block;
  font-weight: 300;
  margin-bottom: 10px;
  font-size: 50px;
  display: flex;
  align-items: flex-end;
}
.sectionTitle span .sub {
  font-size: 30px;
  margin-left: 10px;
}

.profile {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #111;
  transition: all 1s;
}
.profile .profileWrap {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  padding: 200px 0;
  box-sizing: border-box;
  transform: scale(0.9);
  transition: all 1s;
  display: flex;
  justify-content: center;
}
.profile .profileWrap .center {
  width: 80%;
}
.profile .profileWrap .center .profileConts {
  display: flex;
  justify-content: space-between;
  margin-bottom: 80px;
}
.profile .profileWrap .center .profileConts > div {
  width: 45%;
}
.profile .profileWrap .center .profileConts > div .conts {
  min-height: 130px;
}
.profile .profileWrap .center .profileConts > div .conts:last-child {
  margin-bottom: 0;
}
.profile .profileWrap .center .profileConts > div .conts .listTitle {
  font-size: 26px;
  margin-bottom: 20px;
  padding-bottom: 10px;
  border-bottom: 2px solid #000;
}
.profile .profileWrap .center .profileConts > div .conts .listWrap {
  display: flex;
  justify-content: space-between;
}
.profile .profileWrap .center .profileConts > div .conts .listWrap .list {
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.4;
  word-break: keep-all;
}
.profile .profileWrap .center .profileConts > div .conts .listWrap .list li {
  margin-bottom: 20px;
}
.profile .profileWrap .center .profileConts > div .conts .listWrap .list li.title {
  width: 50%;
}
.profile .profileWrap .center .profileConts > div .conts .listWrap .list li.context {
  width: 50%;
  text-align: right;
}
.profile .profileWrap .center .profileConts > div .conts .listWrap .list.right {
  text-align: right;
}
.profile .profileWrap .center .profileConts .right {
  width: 45%;
}

.portfolio {
  display: flex;
  justify-content: center;
  background: #111;
  padding: 150px 0;
}
.portfolio .center {
  width: 80%;
}
.portfolio .center .sectionTitle {
  color: #fff;
  margin-bottom: 80px;
}
.portfolio .center .portfolioConts .tabMenu {
  width: 100%;
  border-bottom: 2px solid rgba(255, 255, 255, 0.4);
  display: flex;
  color: #fff;
  margin-bottom: 60px;
}
.portfolio .center .portfolioConts .tabMenu li {
  margin-right: 30px;
  font-size: 24px;
  position: relative;
  padding-bottom: 20px;
  color: rgba(255, 255, 255, 0.4);
  cursor: pointer;
  transition: all 0.5s;
}
.portfolio .center .portfolioConts .tabMenu li:hover {
  color: #fff;
}
.portfolio .center .portfolioConts .tabMenu li:hover::after {
  width: 100%;
  background: #fff;
}
.portfolio .center .portfolioConts .tabMenu li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: transparent;
  margin-top: 24px;
  position: absolute;
  top: 20px;
  left: 0;
  transition: all 0.5s;
}
.portfolio .center .portfolioConts .tabMenu li.on {
  color: #fff;
}
.portfolio .center .portfolioConts .tabMenu li.on::after {
  width: 100%;
  background: #fff;
}
.portfolio .center .portfolioConts .tabConts {
  width: 100%;
  min-height: 100vh;
  color: #fff;
  position: relative;
}
.portfolio .center .portfolioConts .tabConts .arrowWrap {
  position: absolute;
  top: 20px;
  right: 0;
  display: flex;
  z-index: 20;
}
.portfolio .center .portfolioConts .tabConts .arrowWrap a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  background: #555;
  border-radius: 100%;
  margin-left: 10px;
  transition: all 0.5s;
}
.portfolio .center .portfolioConts .tabConts .arrowWrap a:hover {
  background: #bc0400;
}
.portfolio .center .portfolioConts .tabConts .arrowWrap a:hover .arrowIcon {
  opacity: 1;
}
.portfolio .center .portfolioConts .tabConts .arrowWrap a .arrowIcon {
  height: 40%;
  opacity: 0.4;
  transition: all 0.5s;
}
.portfolio .center .portfolioConts .tabConts .arrowWrap a.next .arrowIcon {
  transform: rotate(180deg);
}
.portfolio .center .portfolioConts .tabConts .tabList {
  position: absolute;
  width: 100%;
  justify-content: space-between;
  opacity: 0;
  transform: translateY(-50px);
  display: none;
  transition: all 1s;
}
.portfolio .center .portfolioConts .tabConts .tabList .left {
  width: 48%;
  height: 100vh;
  overflow: hidden;
  overflow-y: scroll;
  position: relative;
  -ms-overflow-style: none;
}
.portfolio .center .portfolioConts .tabConts .tabList .left::-webkit-scrollbar {
  display: block;
  width: 4px;
  background: rgba(255, 255, 255, 0.2);
}
.portfolio .center .portfolioConts .tabConts .tabList .left::-webkit-scrollbar-thumb {
  background: rgba(255, 255, 255, 0.6);
}
.portfolio .center .portfolioConts .tabConts .tabList .left .imgArrowWrap {
  position: absolute;
  top: 0;
  left: 0;
  display: flex;
  justify-content: flex-end;
  z-index: 20;
}
.portfolio .center .portfolioConts .tabConts .tabList .left .imgArrowWrap a {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  background: transparent;
  background: #bc0400;
  box-sizing: border-box;
  transition: all 0.5s;
}
.portfolio .center .portfolioConts .tabConts .tabList .left .imgArrowWrap a:last-child {
  border-left: 0;
}
.portfolio .center .portfolioConts .tabConts .tabList .left .imgArrowWrap a:hover {
  background: #8b0300;
  border-color: #bc0400;
}
.portfolio .center .portfolioConts .tabConts .tabList .left .imgArrowWrap a:hover:first-child {
  border-right-color: #bc0400;
}
.portfolio .center .portfolioConts .tabConts .tabList .left .imgArrowWrap a:hover .arrowIcon {
  opacity: 1;
}
.portfolio .center .portfolioConts .tabConts .tabList .left .imgArrowWrap a .arrowIcon {
  width: 20%;
  opacity: 0.8;
  transition: all 0.5s;
}
.portfolio .center .portfolioConts .tabConts .tabList .left .imgArrowWrap a.next .arrowIcon {
  transform: rotate(180deg);
}
.portfolio .center .portfolioConts .tabConts .tabList .left > img {
  position: absolute;
  width: 100%;
  opacity: 0;
  display: none;
  transition: opacity 0.5s;
  transition-delay: 0.1s;
}
.portfolio .center .portfolioConts .tabConts .tabList .left > img.on {
  display: block;
  opacity: 1;
}
.portfolio .center .portfolioConts .tabConts .tabList .right {
  width: 48%;
  position: relative;
  padding: 20px 0;
  box-sizing: border-box;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .portfolioTitle {
  font-size: 40px;
  font-weight: 600;
  letter-spacing: -0.5px;
  margin-bottom: 60px;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .responBtn {
  margin-bottom: 60px;
  display: flex;
  flex-wrap: wrap;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .responBtn .btn {
  display: inline-block;
  color: #fff;
  padding: 14px 30px;
  border: 1px solid #fff;
  font-size: 16px;
  font-weight: 300;
  margin-right: 10px;
  transition: all 0.5s;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .responBtn .btn:hover {
  background: #bc0400;
  border: 1px solid #bc0400;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .responBtn span {
  width: 100%;
  display: inline-block;
  margin-top: 20px;
  font-weight: 300;
  word-break: keep-all;
  line-height: 1.4;
  color: #999;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content {
  display: flex;
  padding: 30px 0;
  border-bottom: 1px solid rgba(255, 255, 255, 0.3);
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content:last-child {
  border-bottom: 0;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .contentTitle {
  width: 120px;
  font-size: 18px;
  font-weight: 200;
  line-height: 1.4;
  word-break: keep-all;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .txt {
  font-size: 18px;
  font-weight: 200;
  line-height: 1.4;
  word-break: keep-all;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .linkText {
  display: flex;
  align-items: center;
  font-size: 18px;
  font-weight: 200;
  color: #fff;
  line-height: 1.4;
  word-break: keep-all;
  transition: all 0.5s;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .linkText:hover span.linkIcon {
  animation: gitIconHover 0.8s ease-in;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .linkText span.linkIcon {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
  transform: translateY(0);
  transition: all 0.5s;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .linkText span.linkIcon img {
  width: 100%;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .detailText {
  width: calc(100% - 120px);
  font-size: 18px;
  font-weight: 200;
  line-height: 1.6;
  word-break: keep-all;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .detail ul {
  font-size: 18px;
  font-weight: 200;
  margin-bottom: 30px;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .detail ul:last-child {
  margin-bottom: 0;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .detail ul li {
  margin-bottom: 10px;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .detail ul li:first-child {
  display: flex;
  align-items: center;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .detail ul li:first-child::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  background: #bc0400;
  border-radius: 50%;
  margin-right: 6px;
}
.portfolio .center .portfolioConts .tabConts .tabList .right .content .detail ul li:last-child {
  margin-bottom: 0;
}
.portfolio .center .portfolioConts .tabConts .tabList.on {
  transform: translateY(0);
  display: flex;
  opacity: 1;
}

.otherWork {
  width: 100%;
  display: flex;
  justify-content: center;
  background: #111;
  transition: all 1s;
}
.otherWork .otherWorkWrap {
  width: 100%;
  min-height: 100vh;
  background: #fff;
  padding: 200px 0;
  box-sizing: border-box;
  transform: scale(0.9) translate3d(0, -150px, 0);
  transition: all 1s;
  display: flex;
  justify-content: center;
}
.otherWork .otherWorkWrap .center {
  width: 80%;
}
.otherWork .otherWorkWrap .center .sectionTitle {
  margin-bottom: 80px;
}
.otherWork .otherWorkWrap .center .otherConts .tabMenu {
  width: 100%;
  border-bottom: 2px solid rgba(0, 0, 0, 0.2);
  display: flex;
  margin-bottom: 60px;
}
.otherWork .otherWorkWrap .center .otherConts .tabMenu li {
  margin-right: 30px;
  font-size: 24px;
  font-weight: 600;
  position: relative;
  padding-bottom: 20px;
  color: rgba(0, 0, 0, 0.2);
  cursor: pointer;
  transition: all 0.5s;
}
.otherWork .otherWorkWrap .center .otherConts .tabMenu li:hover {
  color: #000;
}
.otherWork .otherWorkWrap .center .otherConts .tabMenu li:hover::after {
  width: 100%;
  background: #000;
}
.otherWork .otherWorkWrap .center .otherConts .tabMenu li::after {
  content: "";
  display: block;
  width: 0;
  height: 2px;
  background: transparent;
  margin-top: 24px;
  position: absolute;
  top: 20px;
  left: 0;
  transition: all 0.5s;
}
.otherWork .otherWorkWrap .center .otherConts .tabMenu li.on {
  color: #000;
}
.otherWork .otherWorkWrap .center .otherConts .tabMenu li.on::after {
  width: 100%;
  background: #000;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts {
  width: 100%;
  color: #fff;
  position: relative;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList {
  position: absolute;
  width: 100%;
  justify-content: space-between;
  display: none;
  grid-template-columns: repeat(auto-fill, calc(25% - 40px));
  grid-gap: 40px;
  opacity: 0;
  justify-content: space-between;
  transform: translateY(-50px);
  transition: all 1s;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap {
  width: 100%;
  height: calc((80vw - 40px) / 4);
  overflow: hidden;
  box-shadow: 0 5px 15px rgba(0, 0, 0, 0.15);
  position: relative;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap:hover img {
  filter: grayscale(0);
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap:hover .conText {
  background: rgba(0, 0, 0, 0.4);
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap:hover .conText a {
  opacity: 1;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap:hover .conText a span.plusIcon {
  animation: plusIconAnimation 0.5s 1 0.5s forwards;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap img {
  width: 100%;
  filter: grayscale(1);
  transition: all 0.5s;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap .conText {
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0, 0, 0, 0);
  transition: all 0.5s;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap .conText a {
  width: 100%;
  height: 100%;
  color: #fff;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 0 20px;
  box-sizing: border-box;
  opacity: 0;
  transition: all 0.5s;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap .conText a h3 {
  font-size: 20px;
  font-weight: 300;
  line-height: 1.4;
  word-break: keep-all;
  text-align: center;
  margin-bottom: 20px;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap .conText a span.plusIcon {
  width: 50px;
  height: 50px;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100%;
  color: #fff;
  border: 1px solid #fff;
  font-size: 30px;
  font-variation-settings: "wght" 100;
  margin-right: 10px;
  transition: all 0.5s;
}
@keyframes plusIconAnimation {
  0% {
    background: transparent;
    border: 1px solid #fff;
  }
  100% {
    background: #F53024;
    border: 1px solid #F53024;
  }
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList.on {
  transform: scale(1) translate3d(0, 0, 0);
  display: grid;
  opacity: 1;
}
.otherWork .otherWorkWrap .center .otherConts .tabConts .tabList.proposal .contWrap {
  display: flex;
  align-items: center;
  justify-content: center;
}
.otherWork .otherWork.modal {
  width: 100%;
  height: 100vh;
  position: fixed;
  background: rgba(0, 0, 0, 0.9);
  z-index: 99999;
  top: 0;
  left: 0;
  display: none;
  opacity: 0;
  justify-content: center;
  align-items: center;
  transition: all 0.5s;
}
.otherWork .otherWork.modal .center {
  width: 80%;
  height: 80vh;
  overflow: hidden;
  display: flex;
  justify-content: space-between;
  position: relative;
}
.otherWork .otherWork.modal .center .arrowWrap {
  width: auto;
  position: absolute;
  top: 0;
  right: 30%;
  z-index: 20;
  display: flex;
  justify-content: space-between;
  box-sizing: border-box;
}
.otherWork .otherWork.modal .center .arrowWrap a {
  background: #bc0400;
  display: none;
  align-items: center;
  justify-content: center;
  width: 50px;
  height: 50px;
  box-sizing: border-box;
  transition: all 0.5s;
}
.otherWork .otherWork.modal .center .arrowWrap a:hover {
  background: #8b0300;
}
.otherWork .otherWork.modal .center .arrowWrap a:hover .arrowIcon {
  opacity: 1;
}
.otherWork .otherWork.modal .center .arrowWrap a .arrowIcon {
  width: 20%;
  opacity: 0.6;
  transition: all 0.5s;
}
.otherWork .otherWork.modal .center .arrowWrap a.next .arrowIcon {
  transform: rotate(180deg);
}
.otherWork .otherWork.modal .center .arrowWrap a.next.on {
  background: #bc0400;
}
.otherWork .otherWork.modal .center .arrowWrap a.next.on .arrowIcon {
  opacity: 1;
}
.otherWork .otherWork.modal .center .arrowWrap a.prev {
  position: relative;
}
.otherWork .otherWork.modal .center .arrowWrap a.prev::before {
  content: "";
  width: 1px;
  height: 100%;
  background: #ccc;
  position: absolute;
  top: 0;
  right: 0;
  opacity: 0.6;
}
.otherWork .otherWork.modal .center .arrowWrap a.prev.on {
  background: #bc0400;
}
.otherWork .otherWork.modal .center .arrowWrap a.prev.on .arrowIcon {
  opacity: 1;
}
.otherWork .otherWork.modal .center .left {
  width: 70%;
  height: 100%;
  overflow: auto;
  position: relative;
  background: #fff;
  -ms-overflow-style: none;
}
.otherWork .otherWork.modal .center .left::-webkit-scrollbar {
  display: block;
  width: 4px;
  background-color: #ccc;
}
.otherWork .otherWork.modal .center .left::-webkit-scrollbar-thumb {
  background-color: #000;
}
.otherWork .otherWork.modal .center .left img {
  position: absolute;
  width: 100%;
  top: 0;
  left: 0;
  opacity: 0;
  display: none;
  transition: all 0.5s;
}
.otherWork .otherWork.modal .center .left img.on {
  display: block;
  opacity: 1;
}
.otherWork .otherWork.modal .center .right {
  width: 30%;
  position: relative;
  padding: 80px 40px;
  box-sizing: border-box;
  background: #fff;
  position: relative;
  border-left: 1px solid #ddd;
}
.otherWork .otherWork.modal .center .right .modalTitle {
  font-size: 32px;
  font-weight: 600;
  line-height: 1.3;
  word-break: keep-all;
  letter-spacing: -0.5px;
  padding-bottom: 20px;
  margin-bottom: 40px;
  border-bottom: 2px solid #000;
  box-sizing: border-box;
  color: #000;
}
.otherWork .otherWork.modal .center .right .linkBtn {
  margin-bottom: 60px;
}
.otherWork .otherWork.modal .center .right .linkBtn .btn {
  display: inline-block;
  color: #000;
  padding: 14px 30px;
  border: 1px solid #000;
  box-sizing: border-box;
  color: #000;
  font-size: 14px;
  font-weight: 300;
  margin-right: 10px;
  transition: all 0.5s;
}
.otherWork .otherWork.modal .center .right .linkBtn .btn:hover {
  color: #fff;
  background: #bc0400;
  border: 1px solid #bc0400;
}
.otherWork .otherWork.modal .center .right .contentWrap .content {
  margin-bottom: 20px;
}
.otherWork .otherWork.modal .center .right .contentWrap .content:last-child {
  margin-bottom: 0;
}
.otherWork .otherWork.modal .center .right .contentWrap .content .contentTitle {
  width: 100%;
  font-size: 18px;
  font-weight: 500;
  line-height: 1.4;
  word-break: keep-all;
  color: #000;
  display: flex;
  align-items: center;
}
.otherWork .otherWork.modal .center .right .contentWrap .content .contentTitle::before {
  content: "";
  display: inline-block;
  width: 6px;
  height: 6px;
  border-radius: 100%;
  background: #bc0400;
  margin-right: 4px;
}
.otherWork .otherWork.modal .center .right .contentWrap .content .detailText {
  width: 100%;
  font-size: 18px;
  font-weight: 300;
  line-height: 1.6;
  word-break: keep-all;
  color: #000;
}
.otherWork .otherWork.modal .center .right .closeBtn {
  position: absolute;
  top: 20px;
  right: 20px;
}
.otherWork .otherWork.modal .center .right .closeBtn span.closeIcon {
  font-size: 40px;
  color: #000;
}
.otherWork .otherWork.modal.on {
  display: flex;
}

.contact {
  height: 100vh;
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 180px 0;
  box-sizing: border-box;
  background: #bc0400;
}
.contact .center {
  width: 80%;
  display: flex;
  align-items: flex-start;
}
.contact .center .sectionTitle {
  width: 50%;
  color: #fff;
  margin-bottom: 100px;
}
.contact .center .sectionTitle::after {
  background: #fff;
}
.contact .center .contactConts {
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-end;
}
.contact .center .contactConts .left {
  width: 100%;
}
.contact .center .contactConts .left .contactTitle {
  color: #fff;
  font-size: 38px;
  font-weight: 200;
  word-break: keep-all;
  line-height: 1.3;
  letter-spacing: -0.5px;
  margin-bottom: 100px;
}
.contact .center .contactConts .right {
  width: 100%;
}
.contact .center .contactConts .right .rightTitle {
  font-size: 28px;
  padding-bottom: 10px;
  border-bottom: 2px solid #fff;
  color: #fff;
  text-transform: uppercase;
  margin-bottom: 10px;
}
.contact .center .contactConts .right .infoWrap .infoList {
  display: flex;
  align-items: center;
  padding: 20px 0;
  box-sizing: border-box;
  border-bottom: 1px solid rgba(255, 255, 255, 0.4);
}
.contact .center .contactConts .right .infoWrap .infoList:last-child {
  border-bottom: 0;
}
.contact .center .contactConts .right .infoWrap .infoList > p, .contact .center .contactConts .right .infoWrap .infoList a {
  font-size: 18px;
  font-weight: 300;
  letter-spacing: 0.5px;
  color: #fff;
}
.contact .center .contactConts .right .infoWrap .infoList > a {
  display: flex;
  align-items: center;
}
.contact .center .contactConts .right .infoWrap .infoList > a:hover span.linkIcon {
  animation: gitIconHover 0.8s ease-in;
}
.contact .center .contactConts .right .infoWrap .infoList > a span.linkIcon {
  display: inline-block;
  width: 20px;
  margin-right: 10px;
  transform: translateY(0);
  transition: all 0.5s;
}
.contact .center .contactConts .right .infoWrap .infoList > a span.linkIcon img {
  width: 100%;
}
@keyframes gitIconHover {
  0% {
    transform: translateY(0);
  }
  40% {
    transform: translateY(-8px);
  }
  60% {
    transform: translateY(0px);
  }
  80% {
    transform: translateY(-5px);
  }
  100% {
    transform: translateY(0);
  }
}
.contact .center .contactConts .right .infoWrap .infoList > a.down {
  display: inline-block;
  padding: 14px 20px;
  box-sizing: border-box;
  background: #fff;
  color: #bc0400;
  font-size: 14px;
  font-weight: 400;
  transition: all 0.5s;
}
.contact .center .contactConts .right .infoWrap .infoList > a.down:hover {
  background: #000;
  color: #fff;
}
.contact .center .contactConts .right .infoWrap .infoList .infoTitle {
  width: 150px;
}

@media screen and (max-width: 1200px) {
  .main {
    width: 100%;
    height: 80vh;
  }
  @keyframes circleAnimationLeft {
    0% {
      left: -100px;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
    }
    60% {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
    }
    100% {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200vw;
      height: 200vw;
    }
  }
  @keyframes circleAnimationRight {
    0% {
      left: calc(100% + 100px);
      transform: translate(0, -50%);
      width: 50px;
      height: 50px;
    }
    60% {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 50px;
      height: 50px;
    }
    100% {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 200vw;
      height: 200vw;
    }
  }
  .main .center {
    width: 90%;
  }
  .sectionTitle {
    font-size: 50px;
  }
  .profile .profileWrap {
    padding: 150px 0;
  }
  .profile .profileWrap .center {
    width: 90%;
  }
  .profile .profileWrap .center .profileConts {
    margin-bottom: 60px;
  }
  .profile .profileWrap .center .profileConts:last-child {
    margin-bottom: 0;
  }
  .profile .profileWrap .center .profileConts > div {
    width: 48%;
  }
  .profile .profileWrap .center .profileConts > div .conts {
    min-height: 130px;
  }
  .profile .profileWrap .center .profileConts > div .conts .listTitle {
    font-size: 24px;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list {
    width: 100%;
    font-size: 16px;
    font-weight: 300;
    line-height: 1.4;
    word-break: keep-all;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list li {
    margin-bottom: 0;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list li.title {
    width: 100%;
    margin-bottom: 5px;
    font-weight: 500;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list li.context {
    width: 100%;
    text-align: left;
    margin-bottom: 20px;
    display: flex;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list li.context::before {
    content: "-";
    margin-right: 5px;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list.right {
    text-align: right;
  }
  .profile .profileWrap .center .profileConts .right {
    width: 45%;
  }
  .portfolio {
    padding: 150px 0 80px;
  }
  .portfolio .center {
    width: 90%;
  }
  .portfolio .center .sectionTitle {
    color: #fff;
    margin-bottom: 80px;
  }
  .portfolio .center .portfolioConts .tabMenu li {
    margin-right: 20px;
    font-size: 22px;
  }
  .portfolio .center .portfolioConts .tabMenu li::after {
    margin-top: 22px;
  }
  .portfolio .center .portfolioConts .tabMenu li.on {
    color: #fff;
  }
  .portfolio .center .portfolioConts .tabMenu li.on::after {
    width: 100%;
    background: #fff;
  }
  .portfolio .center .portfolioConts .tabConts {
    width: 100%;
    min-height: calc(100vmax + 20vh);
  }
  .portfolio .center .portfolioConts .tabConts .arrowWrap {
    top: calc(50vh + 60px);
  }
  .portfolio .center .portfolioConts .tabConts .tabList {
    flex-direction: column;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .left {
    width: 100%;
    height: 50vh;
    margin-bottom: 40px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right {
    width: 100%;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .portfolioTitle {
    font-size: 38px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .contentTitle {
    font-size: 16px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .detailText {
    font-size: 16px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .txt {
    font-size: 16px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .detail ul li {
    font-size: 16px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .linkText {
    font-size: 16px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .responBtn {
    margin-bottom: 40px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .responBtn .btn {
    padding: 12px 20px;
    font-size: 16px;
  }
  .otherWork .otherWorkWrap {
    width: 100%;
    min-height: 100vh;
    padding: 150px 0 60px;
  }
  .otherWork .otherWorkWrap .center {
    width: 90%;
  }
  .otherWork .otherWorkWrap .center .sectionTitle {
    margin-bottom: 60px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu {
    margin-bottom: 40px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu li {
    margin-right: 20px;
    font-size: 22px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu li::after {
    margin-top: 22px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabConts .tabList {
    grid-template-columns: repeat(auto-fill, calc(33.333333% - 30px));
    grid-gap: 30px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap {
    width: 100%;
    height: calc(33.3333333333vw - 60px);
  }
  .otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap .conText a h3 {
    font-size: 18px;
  }
  .otherWork .otherWork.modal .center {
    width: 90%;
    height: 80vh;
  }
  .otherWork .otherWork.modal .center .arrowWrap {
    top: 0;
    right: 40%;
  }
  .otherWork .otherWork.modal .center .arrowWrap a {
    width: 50px;
    height: 50px;
  }
  .otherWork .otherWork.modal .center .left {
    width: 60%;
    height: 100%;
  }
  .otherWork .otherWork.modal .center .right {
    width: 40%;
    padding: 80px 40px;
  }
  .otherWork .otherWork.modal .center .right .modalTitle {
    font-size: 28px;
  }
  .otherWork .otherWork.modal .center .right .linkBtn {
    margin-bottom: 40px;
  }
  .otherWork .otherWork.modal .center .right .linkBtn .btn {
    padding: 14px 20px;
  }
  .otherWork .otherWork.modal .center .right .contentWrap .content {
    margin-bottom: 20px;
  }
  .otherWork .otherWork.modal .center .right .contentWrap .content .contentTitle {
    font-size: 16px;
  }
  .otherWork .otherWork.modal .center .right .contentWrap .content .detailText {
    font-size: 16px;
  }
  .contact {
    align-items: center;
    padding: 0;
  }
  .contact .center {
    width: 90%;
    flex-direction: column;
    align-items: flex-start;
  }
  .contact .center .sectionTitle {
    width: 100%;
    margin-bottom: 100px;
  }
  .contact .center .contactConts {
    width: 100%;
    flex-direction: row;
    align-items: flex-start;
    justify-content: space-between;
  }
  .contact .center .contactConts .left {
    width: 48%;
  }
  .contact .center .contactConts .left .contactTitle {
    font-size: calc(2vw + 1vmin);
    margin-bottom: 0;
  }
  .contact .center .contactConts .right {
    width: 48%;
  }
  .contact .center .contactConts .right .rightTitle {
    font-size: 24px;
  }
  .contact .center .contactConts .right .infoWrap .infoList {
    display: flex;
    align-items: center;
    padding: 20px 0;
    box-sizing: border-box;
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .contact .center .contactConts .right .infoWrap .infoList:last-child {
    border-bottom: 0;
  }
  .contact .center .contactConts .right .infoWrap .infoList > p, .contact .center .contactConts .right .infoWrap .infoList a {
    font-size: 16px;
    font-weight: 300;
    letter-spacing: 0.5px;
    color: #fff;
  }
  .contact .center .contactConts .right .infoWrap .infoList > a {
    display: flex;
    align-items: center;
  }
  .contact .center .contactConts .right .infoWrap .infoList > a:hover span.linkIcon {
    transform: rotate(-40deg);
  }
  .contact .center .contactConts .right .infoWrap .infoList > a span.linkIcon {
    color: #fff;
    font-size: 26px;
    margin-right: 10px;
    transform: rotate(0);
    transition: all 0.5s;
  }
  .contact .center .contactConts .right .infoWrap .infoList > a.down {
    display: inline-block;
    padding: 14px 20px;
    box-sizing: border-box;
    background: #fff;
    color: #bc0400;
    font-size: 14px;
    font-weight: 400;
    transition: all 0.5s;
  }
  .contact .center .contactConts .right .infoWrap .infoList > a.down:hover {
    background: #000;
    color: #fff;
  }
  .contact .center .contactConts .right .infoWrap .infoList .infoTitle {
    width: 150px;
  }
}
@media screen and (max-width: 820px) {
  .otherWork .otherWorkWrap {
    width: 100%;
    min-height: 100vh;
    padding: 120px 0 60px;
  }
  .otherWork .otherWorkWrap .center {
    width: 90%;
  }
  .otherWork .otherWorkWrap .center .sectionTitle {
    margin-bottom: 40px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu {
    flex-direction: column;
    margin-bottom: 30px;
    border-bottom-color: #000;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu li {
    padding: 10px 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 20px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu li::after {
    display: none;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu li:last-child {
    margin-bottom: 10px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu li.on::after {
    width: 100%;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabConts .tabList {
    grid-template-columns: repeat(auto-fill, calc(50% - 10px));
    grid-gap: 10px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap {
    width: 100%;
    height: calc(50vw - 20px);
    margin-bottom: 20px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap .conText a h3 {
    font-size: 18px;
  }
  .otherWork .otherWork.modal .center {
    width: 90%;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    scroll-behavior: smooth;
    margin-top: 30px;
  }
  .otherWork .otherWork.modal .center::-webkit-scrollbar {
    display: block;
    width: 3px;
    background-color: #ccc;
  }
  .otherWork .otherWork.modal .center::-webkit-scrollbar-thumb {
    background-color: #000;
  }
  .otherWork .otherWork.modal .center .arrowWrap {
    top: 0;
    right: 0;
  }
  .otherWork .otherWork.modal .center .arrowWrap a {
    width: 50px;
    height: 50px;
  }
  .otherWork .otherWork.modal .center .arrowWrap a.prev::before {
    display: none;
  }
  .otherWork .otherWork.modal .center .left {
    width: 100%;
    height: auto;
    overflow: hidden;
    order: 2;
  }
  .otherWork .otherWork.modal .center .left::-webkit-scrollbar {
    display: none;
    width: 3px;
  }
  .otherWork .otherWork.modal .center .left img {
    position: relative;
  }
  .otherWork .otherWork.modal .center .right {
    width: 100%;
    padding: 60px 60px;
    border-left: 0;
    order: 1;
    border-bottom: 1px solid #000;
  }
  .otherWork .otherWork.modal .center .right .modalTitle {
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  .otherWork .otherWork.modal .center .right .linkBtn {
    margin-bottom: 40px;
  }
  .otherWork .otherWork.modal .center .right .contentWrap .content {
    margin-bottom: 20px;
  }
  .otherWork .otherWork.modal .center .right .contentWrap .content:last-child {
    margin-bottom: 0;
  }
  .otherWork .otherWork.modal .center .right .closeBtn {
    position: fixed;
    top: 4vh;
    right: 50%;
    transform: translateX(50%);
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }
  .otherWork .otherWork.modal .center .right .closeBtn span.closeIcon {
    font-size: 25px;
    color: #fff;
  }
  .otherWork .otherWork.modal.on {
    display: flex;
  }
  .contact {
    height: 100vh;
  }
  .contact .center .contactConts {
    width: 100%;
    flex-direction: column;
  }
  .contact .center .contactConts .left {
    width: 100%;
  }
  .contact .center .contactConts .left .contactTitle {
    font-size: calc(2.8vw + 1.4vmin);
    margin-bottom: 60px;
  }
  .contact .center .contactConts .right {
    width: 100%;
  }
  .contact .center .contactConts .right .rightTitle {
    font-size: 24px;
  }
  .contact .center .contactConts .right .infoWrap .infoList:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
}
@media screen and (max-width: 768px) {
  .main {
    width: 100%;
    height: 80vh;
  }
  @keyframes circleAnimationLeft {
    0% {
      left: -100px;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
    }
    60% {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 30px;
    }
    100% {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300vw;
      height: 300vw;
    }
  }
  @keyframes circleAnimationRight {
    0% {
      left: calc(100% + 100px);
      transform: translate(0, -50%);
      width: 30px;
      height: 30px;
    }
    60% {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 30px;
      height: 50px;
    }
    100% {
      left: 50%;
      transform: translate(-50%, -50%);
      width: 300vw;
      height: 300vw;
    }
  }
  .main .center {
    width: 90%;
  }
  .main .center p {
    font-size: 20px;
  }
  .main .center .title {
    font-size: calc(4vw + 4vh + 2vmin);
  }
  .sectionTitle {
    font-size: 40px;
    margin-bottom: 60px;
  }
  .sectionTitle::after {
    width: 12px;
    height: 12px;
  }
  .sectionTitle span {
    font-size: 40px;
  }
  .profile .profileWrap {
    width: 100%;
    min-height: 100vh;
    padding: 100px 0 0;
  }
  .profile .profileWrap .center {
    width: 90%;
  }
  .profile .profileWrap .center .profileConts {
    flex-direction: column;
    margin-bottom: 0;
  }
  .profile .profileWrap .center .profileConts > div {
    width: 100%;
    margin-bottom: 60px;
  }
  .profile .profileWrap .center .profileConts > div .conts {
    min-height: 130px;
  }
  .profile .profileWrap .center .profileConts > div .conts:last-child {
    margin-bottom: 0;
  }
  .profile .profileWrap .center .profileConts > div .conts .listTitle {
    font-size: 22px;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list {
    font-size: 16px;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list li {
    margin-bottom: 20px;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list li.title {
    width: 100%;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list li.context {
    width: 100%;
    text-align: left;
  }
  .profile .profileWrap .center .profileConts > div .conts .listWrap .list.right {
    text-align: right;
  }
  .profile .profileWrap .center .profileConts .right {
    width: 100%;
  }
  .portfolio {
    padding: 120px 0 80px;
  }
  .portfolio .center {
    width: 90%;
  }
  .portfolio .center .sectionTitle {
    color: #fff;
    margin-bottom: 40px;
  }
  .portfolio .center .portfolioConts .tabMenu {
    flex-direction: column;
    margin-bottom: 30px;
    border-bottom-color: #fff;
  }
  .portfolio .center .portfolioConts .tabMenu li {
    padding: 10px 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 20px;
  }
  .portfolio .center .portfolioConts .tabMenu li::before {
    content: "#";
    margin-right: 5px;
    transition: all 0.4s;
  }
  .portfolio .center .portfolioConts .tabMenu li::after {
    display: none;
  }
  .portfolio .center .portfolioConts .tabMenu li:last-child {
    margin-bottom: 10px;
  }
  .portfolio .center .portfolioConts .tabMenu li.on {
    color: #fff;
  }
  .portfolio .center .portfolioConts .tabConts {
    width: 100%;
    min-height: calc(100vh + 110vmax);
  }
  .portfolio .center .portfolioConts .tabConts .arrowWrap {
    top: calc(50vh + 30px);
  }
  .portfolio .center .portfolioConts .tabConts .arrowWrap a {
    width: 45px;
    height: 45px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList {
    flex-direction: column;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .left {
    width: 100%;
    height: 50vh;
    margin-bottom: 40px;
    overflow: hidden;
    overflow-y: auto;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right {
    width: 100%;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .portfolioTitle {
    font-size: 30px;
    margin-top: 30px;
    margin-bottom: 40px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content {
    display: block;
    border-bottom-color: rgba(255, 255, 255, 0.6);
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .contentTitle {
    width: 100%;
    font-size: 16px;
    font-weight: 500;
    margin-bottom: 10px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .detailText {
    width: 100%;
    font-size: 16px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .txt {
    width: 100%;
    font-size: 16px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .detail ul {
    margin-bottom: 20px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .detail ul li {
    font-size: 16px;
    line-height: 1.4;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .content .linkText {
    font-size: 16px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .responBtn {
    margin-bottom: 20px;
  }
  .portfolio .center .portfolioConts .tabConts .tabList .right .responBtn .btn {
    padding: 12px 20px;
    font-size: 16px;
  }
  .contact {
    min-height: 100vh;
    height: auto;
    padding: 120px 0 80px;
  }
  .contact .center .sectionTitle {
    margin-bottom: 60px;
  }
  .contact .center .contactConts {
    width: 100%;
    flex-direction: column;
  }
  .contact .center .contactConts .left {
    width: 100%;
  }
  .contact .center .contactConts .left .contactTitle {
    font-size: calc(4.8vw + 2.4vmin);
    margin-bottom: 60px;
  }
  .contact .center .contactConts .right {
    width: 100%;
  }
  .contact .center .contactConts .right .rightTitle {
    font-size: 22px;
  }
  .contact .center .contactConts .right .infoWrap .infoList {
    display: block;
  }
  .contact .center .contactConts .right .infoWrap .infoList:last-child {
    border-bottom: 1px solid rgba(255, 255, 255, 0.4);
  }
  .contact .center .contactConts .right .infoWrap .infoList .infoTitle {
    width: 100%;
    margin-bottom: 10px;
    font-weight: 500;
  }
}
@media screen and (max-width: 480px) {
  .otherWork .otherWorkWrap {
    width: 100%;
    min-height: 100vh;
    padding: 120px 0 60px;
  }
  .otherWork .otherWorkWrap .center {
    width: 90%;
  }
  .otherWork .otherWorkWrap .center .sectionTitle {
    margin-bottom: 40px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu {
    flex-direction: column;
    margin-bottom: 30px;
    border-bottom-color: #000;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu li {
    padding: 10px 0;
    margin-right: 0;
    margin-bottom: 0;
    font-size: 20px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu li::after {
    display: none;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu li:last-child {
    margin-bottom: 10px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabMenu li.on::after {
    width: 100%;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabConts .tabList {
    grid-template-columns: repeat(auto-fill, 100%);
    grid-gap: 20px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap {
    width: 100%;
    height: 100vw;
    margin-bottom: 20px;
  }
  .otherWork .otherWorkWrap .center .otherConts .tabConts .tabList .contWrap .conText a h3 {
    font-size: 18px;
  }
  .otherWork .otherWork.modal .center {
    width: 90%;
    height: 80vh;
    overflow: hidden;
    overflow-y: auto;
    display: flex;
    flex-wrap: wrap;
    justify-content: flex-end;
    position: relative;
    scroll-behavior: smooth;
    margin-top: 30px;
  }
  .otherWork .otherWork.modal .center::-webkit-scrollbar {
    display: block;
    width: 3px;
    background-color: #ccc;
  }
  .otherWork .otherWork.modal .center::-webkit-scrollbar-thumb {
    background-color: #000;
  }
  .otherWork .otherWork.modal .center .arrowWrap {
    top: 0;
    right: 0;
  }
  .otherWork .otherWork.modal .center .arrowWrap a {
    width: 50px;
    height: 50px;
  }
  .otherWork .otherWork.modal .center .left {
    width: 100%;
    height: auto;
    overflow: hidden;
    border-bottom: 1px solid #000;
  }
  .otherWork .otherWork.modal .center .left::-webkit-scrollbar {
    display: none;
    width: 3px;
  }
  .otherWork .otherWork.modal .center .left img {
    position: relative;
  }
  .otherWork .otherWork.modal .center .right {
    width: 100%;
    padding: 60px 20px;
    border-left: 0;
  }
  .otherWork .otherWork.modal .center .right .modalTitle {
    font-size: 28px;
    padding-bottom: 10px;
    margin-bottom: 40px;
  }
  .otherWork .otherWork.modal .center .right .linkBtn {
    margin-bottom: 40px;
  }
  .otherWork .otherWork.modal .center .right .contentWrap .content {
    margin-bottom: 20px;
  }
  .otherWork .otherWork.modal .center .right .contentWrap .content:last-child {
    margin-bottom: 0;
  }
  .otherWork .otherWork.modal .center .right .closeBtn {
    position: fixed;
    top: 4vh;
    right: 50%;
    transform: translateX(50%);
    border-radius: 100%;
    box-sizing: border-box;
    border: 1px solid #fff;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 45px;
    height: 45px;
  }
  .otherWork .otherWork.modal .center .right .closeBtn span.closeIcon {
    font-size: 25px;
    color: #fff;
  }
  .otherWork .otherWork.modal.on {
    display: flex;
  }
}