.main {
    width: 100%; height: 100vh;
    background: #111;
    display: flex;
    align-items: center;
    justify-content: center;
    position: relative;
    overflow: hidden;
    .bg_circleWrap {
        .bg_circle {
            position: absolute;
            top: 50%; left: 50%;
            transform: translate(-50%, -50%);
            width: 50px; height: 50px;
            border-radius: 100%;
            background: $ptColor;
            transition: all 10s;
        }
        .bg_circle.left {
            left: -100px;
        }
        .bg_circle.right {
            left: calc(100% + 100px);
        }
    }
    .bg_circleWrap.on {
        .bg_circle.left {
            animation: circleAnimationLeft 1.5s ease-in 1 forwards;
        }
        .bg_circle.right {
            animation: circleAnimationRight 1.5s ease-in 1 forwards;
        }
    }
    @keyframes circleAnimationLeft {
        0% {left: -100px; transform: translate(-50%, -50%); width: 50px; height: 50px;}
        60% {left: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px;}
        100% {left: 50%; transform: translate(-50%, -50%); width: 150vw; height: 150vw;}
    }
    @keyframes circleAnimationRight {
        0% {left: calc(100% + 100px); transform: translate(0, -50%); width: 50px; height: 50px;}
        60% {left: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px;}
        100% {left: 50%; transform: translate(-50%, -50%); width: 150vw; height: 150vw;}
    }
    .center {
        width: $smallCenter;
        z-index: 20;
        p {
            color: #fff;
            font-weight: 300;
            font-size: 36px;
            letter-spacing: -0.5px;
            text-align: center;
        }
        .title {
            font-size: calc(4vw + 4vh + 2vmin);
            font-weight: 800;
            line-height: 1.4;
            letter-spacing: -0.5px;
            color: #fff;
            text-align: center;
            mix-blend-mode: multiply;
            span {
                font-weight: 300;
            }
        }
    }
}

.sectionTitle {
    font-size: 60px;
    // border-bottom: 2px solid #000;
    padding-bottom: 10px;
    margin-bottom: 60px;
    &::after {
        content: "";
        display: inline-block;
        width: 15px; height: 15px;
        background: $ptColor;
        border-radius: 100%;
    }
    span {
        display: block;
        font-weight: 300;
        margin-bottom: 10px;
        font-size: 50px;
        display: flex;
        align-items: flex-end;
        .sub {
            font-size: 30px;
            margin-left: 10px;
        }
    }
}

.profile {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #111;
    transition: all 1s;
    .profileWrap {
        width: 100%; min-height: 100vh;
        background: #fff;
        padding: 200px 0;
        box-sizing: border-box;
        transform: scale(0.6);
        transition: all 1s;
        display: flex;
        justify-content: center;
        .center {
            width: $center;
            .profileConts {
                display: flex;
                justify-content: space-between;
                margin-bottom: 80px;
                // left / right
                > div {
                    width: 45%;
                    .conts {
                        min-height: 130px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .listTitle {
                            font-size: 26px;
                            margin-bottom: 20px;
                            padding-bottom: 10px;
                            border-bottom: 2px solid #000;
                        }
                        .listWrap {
                            display: flex;
                            justify-content: space-between;
                            .list {
                                width: 100%;
                                display: flex;
                                flex-wrap: wrap;
                                font-size: 18px;
                                font-weight: 300;
                                line-height: 1.4;
                                word-break: keep-all;
                                li {
                                    margin-bottom: 20px;
                                }
                                li.title {
                                    width: 50%;
                                }
                                li.context {
                                    width: 50%;
                                    text-align: right;
                                }
                            }
                            .list.right {
                                text-align: right;
                            }
                        }
                    }
                }
                .right {
                    width: 45%;
                }
            }
        }
    }
}

.portfolio {
    display: flex;
    justify-content: center;
    background: #111;
    padding: 150px 0;
    .center {
        width: $center;
        .sectionTitle {
            color: #fff;
            margin-bottom: 80px;
        }
        .portfolioConts {
            .tabMenu {
                width: 100%;
                border-bottom: 2px solid rgba(255, 255, 255, 0.4);
                display: flex;
                color: #fff;
                margin-bottom: 60px;
                li {
                    margin-right: 30px;
                    font-size: 24px;
                    position: relative;
                    padding-bottom: 20px;
                    color: rgba(255, 255, 255, 0.4);
                    cursor: pointer;
                    transition: all 0.5s;
                    &:hover {
                        color: #fff;
                        &::after {
                            width: 100%;
                            background: #fff;
                        }
                    }
                    &::after {
                        content: "";
                        display: block;
                        width: 0; height: 2px;
                        background: transparent;
                        margin-top: 24px;
                        position: absolute;
                        top: 20px; left: 0;
                        transition: all 0.5s;
                    }
                }
                li.on {
                    color: #fff;
                    &::after {
                        width: 100%;
                        background: #fff;
                    }
                }
            }
            .tabConts {
                width: 100%; min-height: 100vh;
                color: #fff;
                position: relative;
                .arrowWrap {
                    position: absolute;
                    top: 20px; right: 0;
                    display: flex;
                    z-index: 20;
                    a {
                        width: 50px; height: 50px;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        background: transparent;
                        background: #555;
                        border-radius: 100%;
                        margin-left: 10px;
                        transition: all 0.5s;
                        &:hover {
                            background: $ptColor;
                            .arrowIcon {
                                opacity: 1;
                            }
                        }
                        .arrowIcon {
                            height: 40%;
                            opacity: 0.4;
                            transition: all 0.5s;
                        }
                    }
                    a.next {
                        .arrowIcon {
                            transform: rotate(180deg);
                        }
                    }
                }
                .tabList {
                    position: absolute;
                    width: 100%;
                    justify-content: space-between;
                    opacity: 0;
                    transform: translateY(-50px);
                    display: none;
                    transition: all 1s;
                    .left { 
                        width: 48%; height: 100vh;
                        overflow: hidden;
                        overflow-y: scroll;
                        position: relative;
                        -ms-overflow-style: none;
                        
                        &::-webkit-scrollbar {
                            display: block;
                            width: 4px;
                            background: rgba(255, 255, 255, 0.2);
                        }
                        &::-webkit-scrollbar-thumb {
                            background: rgba(255, 255, 255, 0.6);
                        }
                        
                        .imgArrowWrap {
                            position: absolute;
                            top: 0; right: 0;
                            display: flex;
                            justify-content: flex-end;
                            z-index: 20;
                            a {
                                width: 50px; height: 50px;
                                display: flex;
                                align-items: center;
                                justify-content: center;
                                background: transparent;
                                background: rgba(0,0,0, 0.5);
                                border: 1px solid rgba(255,255,255,0.3);
                                box-sizing: border-box;
                                transition: all 0.5s;
                                &:last-child {
                                    border-left: 0;
                                }
                                &:hover {
                                    background: $ptColor;
                                    border-color: $ptColor;
                                    &:first-child {
                                        border-right-color: $ptColor;
                                    }
                                    .arrowIcon {
                                        opacity: 1;
                                    }
                                }
                                .arrowIcon {
                                    width: 20%;
                                    opacity: 0.5;
                                    transition: all 0.5s;
                                }
                            }
                            a.next {
                                .arrowIcon {
                                    transform: rotate(180deg);
                                }
                            }
                        }
                        > img {
                            position: absolute;
                            width: 100%;
                            opacity: 0;
                            display: none;
                            transition: opacity 0.5s;
                            transition-delay: 0.1s;
                        }
                        > img.on {
                            display: block;
                            opacity: 1;
                        }
                    }
                    .right { 
                        width: 48%;
                        position: relative;
                        padding: 20px 0;
                        box-sizing: border-box;
                        .portfolioTitle {
                            font-size: 40px;
                            font-weight: 600;
                            letter-spacing: -0.5px;
                            margin-bottom: 60px;
                        }
                        .responBtn {
                            margin-bottom: 60px;
                            .btn {
                                display: inline-block;
                                color: #fff;
                                padding: 14px 30px;
                                border: 1px solid #fff;
                                font-size: 16px;
                                font-weight: 300;
                                margin-right: 10px;
                                transition: all 0.5s;
                                &:hover {
                                    background: $ptColor;
                                    border: 1px solid $ptColor;
                                }
                            }
                        }
                        .content {
                            display: flex;
                            padding: 30px 0;
                            border-bottom: 1px solid rgba(255,255,255,0.3);
                            &:last-child {
                                border-bottom: 0;
                            }
                            .contentTitle {
                                width: 120px;
                                font-size: 18px;
                                font-weight: 200;
                                line-height: 1.4;
                                word-break: keep-all;
                            }
                            .txt {
                                font-size: 18px;
                                font-weight: 200;
                                line-height: 1.4;
                                word-break: keep-all;
                            }
                            .linkText {
                                display: flex;
                                align-items: center;
                                font-size: 18px;
                                font-weight: 200;
                                color: #fff;
                                line-height: 1.4;
                                word-break: keep-all;
                                transition: all 0.5s;
                                &:hover {
                                    span.linkIcon {
                                        color: $ptColor;
                                        transform: rotate(-40deg);
                                    }
                                }
                                span.linkIcon {
                                    transform: rotate(0);
                                    margin-right: 5px;
                                    transition: all 0.5s;
                                    color: #fff;
                                }
                            }
                            .detailText {
                                width: calc(100% - 120px);
                                font-size: 18px;
                                font-weight: 200;
                                line-height: 1.6;
                                word-break: keep-all;
                            }
                            .detail {
                                ul {
                                    font-size: 18px;
                                    font-weight: 200;
                                    margin-bottom: 30px;
                                    &:last-child {
                                        margin-bottom: 0;
                                    }
                                    li {
                                        margin-bottom: 10px;
                                        &:first-child {
                                            display: flex;
                                            align-items: center;
                                            &::before {
                                                content: "";
                                                display: inline-block;
                                                width: 6px; height: 6px;
                                                background: $ptColor;
                                                border-radius: 50%;
                                                margin-right: 6px;
                                            }
                                        }
                                        &:last-child {
                                            margin-bottom: 0;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
                .tabList.on {
                    transform: translateY(0);
                    display: flex;
                    opacity: 1;
                }
            }
        }
    }
}

.otherWork {
    width: 100%;
    display: flex;
    justify-content: center;
    background: #111;
    transition: all 1s;
    .otherWorkWrap {
        width: 100%; min-height: 100vh;
        background: #fff;
        padding: 200px 0;
        box-sizing: border-box;
        transform: scale(0.6) translate3d(0, -150px, 0);
        transition: all 1s;
        display: flex;
        justify-content: center;
        .center {
            width: $center;
            .sectionTitle {
                margin-bottom: 80px;
            }
            .otherConts {
                .tabMenu {
                    width: 100%;
                    border-bottom: 2px solid rgba(0,0,0, 0.2);
                    display: flex;
                    margin-bottom: 60px;
                    li {
                        margin-right: 30px;
                        font-size: 24px;
                        font-weight: 600;
                        position: relative;
                        padding-bottom: 20px;
                        color: rgba(0,0,0, 0.2);
                        cursor: pointer;
                        transition: all 0.5s;
                        &:hover {
                            color: #000;
                            &::after {
                                width: 100%;
                                background: #000;
                            }
                        }
                        &::after {
                            content: "";
                            display: block;
                            width: 0; height: 2px;
                            background: transparent;
                            margin-top: 24px;
                            position: absolute;
                            top: 20px; left: 0;
                            transition: all 0.5s;
                        }
                    }
                    li.on {
                        color: #000;
                        &::after {
                            width: 100%;
                            background: #000;
                        }
                    }
                }
                .tabConts {
                    width: 100%;
                    color: #fff;
                    position: relative;
                    .tabList {
                        position: absolute;
                        width: 100%;
                        justify-content: space-between;
                        display: none;
                        grid-template-columns: repeat(auto-fill, calc(25% - 40px));
                        grid-gap: 40px;
                        opacity: 0;
                        justify-content: space-between;
                        transform: translateY(-50px);
                        transition: all 1s;
                        .contWrap {
                            width: 100%; height: 360px;
                            overflow: hidden;
                            box-shadow: 0 5px 15px rgba(0,0,0, 0.15);
                            position: relative;
                            &:hover {
                                img {
                                    filter: grayscale(0);
                                }
                                .conText {
                                    background: rgba(0,0,0, 0.6);
                                     a {
                                        opacity: 1;
                                        span.plusIcon {
                                            animation: plusIconAnimation 0.5s 1 0.5s forwards;
                                        }
                                    }
                                }

                            }
                            img {
                                width: 100%;
                                filter: grayscale(1);
                                transition: all 0.5s;
                            }
                            .conText {
                                width: 100%; height: 100%;
                                position: absolute;
                                top: 0; left: 0;
                                background: rgba(0,0,0, 0);
                                transition: all 0.5s;
                                a {
                                    width: 100%; height: 100%;
                                    color: #fff;
                                    display: flex;
                                    flex-direction: column;
                                    align-items: center;
                                    justify-content: center;
                                    padding: 0 20px;
                                    box-sizing: border-box;
                                    opacity: 0;
                                    transition: all 0.5s;
                                    h3 {
                                        font-size: 20px;
                                        font-weight: 300;
                                        line-height: 1.4;
                                        word-break: keep-all;
                                        text-align: center;
                                        margin-bottom: 20px;
                                    }
                                    span.plusIcon {
                                        width: 50px; height: 50px;
                                        display: flex;
                                        align-items: center;
                                        justify-content: center;
                                        border-radius: 100%;
                                        color: #fff;
                                        border: 1px solid #fff;
                                        font-size: 30px;
                                        font-variation-settings: "wght" 100;
                                        margin-right: 10px;
                                        transition: all 0.5s;
                                    }

                                    @keyframes plusIconAnimation {
                                        0% {
                                            background: transparent;
                                            border: 1px solid #fff;
                                        }
                                        100% {
                                            background: #F53024;
                                            border: 1px solid #F53024;
                                        }
                                    }
                                }
                            }
                        }
                    }
                    .tabList.on {
                        transform: scale(1) translate3d(0, 0, 0);
                        display: grid;
                        opacity: 1;
                    }
                    .tabList.proposal {
                        .contWrap {
                            display: flex;
                            align-items: center;
                            justify-content: center;
                        }
                    }
                }
            }
        }
    }

    .otherWork.modal {
        width: 100%; height: 100vh;
        position: fixed;
        background: rgba(0,0,0, 0.6);
        z-index: 99999;
        top: 0; left: 0;
        display: none;
        opacity: 0;
        justify-content: center;
        align-items: center;
        transition: all 0.5s;
        .center {
            width: $center; height: 80vh;
            overflow: hidden;
            display: flex;
            justify-content: space-between;
            position: relative;
            .arrowWrap {
                width: auto;
                position: absolute;
                top: 0; right: 30%;
                z-index: 20;
                display: flex;
                justify-content: space-between;
                box-sizing: border-box;
                a {
                    background: rgba(0,0,0, 0.4);
                    display: none;
                    align-items: center;
                    justify-content: center;
                    width: 60px; height: 60px;
                    box-sizing: border-box;
                    transition: all 0.5s;
                    &:hover {
                        background: $ptColor;
                        .arrowIcon {
                            opacity: 1;
                        }
                    }
                    .arrowIcon {
                        width: 20%;
                        opacity: 0.6;
                        transition: all 0.5s;
                    }
                }
                a.next {
                    .arrowIcon {
                        transform: rotate(180deg);
                    }
                }
                a.next.on {
                    background: $ptColor;
                    .arrowIcon {
                        opacity: 1;
                    }
                }
                a.prev.on {
                    background: $ptColor;
                    .arrowIcon {
                        opacity: 1;
                    }
                }
            }
            .left { 
                width: 70%; height: 100%;
                overflow: auto;
                position: relative;
                background: #fff;
                -ms-overflow-style: none;
                
                &::-webkit-scrollbar {
                    display: block;
                    width: 4px;
                    background-color: #fff;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #000;
                }
                img {
                    position: absolute;
                    width: 100%;
                    top: 0; left: 0;
                    opacity: 0;
                    display: none;
                    transition: all 0.5s;
                }
                img.on {
                    display: block;
                    opacity: 1;
                }
            }
            .right { 
                width: 30%;
                position: relative;
                padding: 80px 40px;
                box-sizing: border-box;
                background: #fff;
                position: relative;
                border-left: 1px solid #ddd;
                .modalTitle {
                    font-size: 32px;
                    font-weight: 600;
                    line-height: 1.3;
                    word-break: keep-all;
                    letter-spacing: -0.5px;
                    padding-bottom: 20px;
                    margin-bottom: 40px;
                    border-bottom: 2px solid #000;
                    color: #000;
                }
                .linkBtn {
                    margin-bottom: 60px;
                    .btn {
                        display: inline-block;
                        color: #000;
                        padding: 14px 30px;
                        border: 1px solid #000;
                        color: #000;
                        font-size: 14px;
                        font-weight: 300;
                        margin-right: 10px;
                        transition: all 0.5s;
                        &:hover {
                            color: #fff;
                            background: $ptColor;
                            border: 1px solid $ptColor;
                        }
                    }
                }
                .contentWrap {
                    .content {
                        margin-bottom: 20px;
                        &:last-child {
                            margin-bottom: 0;
                        }
                        .contentTitle {
                            width: 100%;
                            font-size: 18px;
                            font-weight: 500;
                            line-height: 1.4;
                            word-break: keep-all;
                            color: #000;
                            display: flex;
                            align-items: center;
                            &::before {
                                content: "";
                                display: inline-block;
                                width: 6px; height: 6px;
                                border-radius: 100%;
                                background: $ptColor;
                                margin-right: 4px;
                            }
                        }
                        .detailText {
                            width: 100%;
                            font-size: 18px;
                            font-weight: 300;
                            line-height: 1.6;
                            word-break: keep-all;
                            color: #000;
                        }
                    }
                }
                .closeBtn {
                    position: absolute;
                    top: 20px; right: 20px;
                    span.closeIcon {
                        font-size: 40px;
                        color: #000;
                    }
                }
            }
        }
    }
    .otherWork.modal.on {
        display: flex;
    }
}

.contact {
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 180px 0;
    box-sizing: border-box;
    background: $ptColor;
    .center {
        width: $center;
        display: flex;
        align-items: flex-start;
        .sectionTitle {
            width: 50%;
            color: #fff;
            margin-bottom: 100px;
            &::after {
                background: #fff;
            }
        }
        .contactConts {
            width: 50%;
            display: flex;
            flex-direction: column;
            justify-content: flex-start;
            align-items: flex-end;
            .left {
                width: 100%;
                .contactTitle {
                    color: #fff;
                    font-size: 38px;
                    font-weight: 200;
                    word-break: keep-all;
                    line-height: 1.3;
                    letter-spacing: -0.5px;
                    margin-bottom: 100px;
                }
            }
            .right {
                width: 100%;
                .rightTitle {
                    font-size: 28px;
                    padding-bottom: 10px;
                    border-bottom: 2px solid #fff;
                    color: #fff;
                    text-transform: uppercase;
                    margin-bottom: 10px;
                }
                .infoWrap {
                    .infoList {
                        display: flex;
                        align-items: center;
                        padding: 20px 0;
                        box-sizing: border-box;
                        border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                        &:last-child {
                            border-bottom: 0;
                        }
                        > p, a {
                            font-size: 18px;
                            font-weight: 300;
                            letter-spacing: 0.5px;
                            color: #fff;
                        }
                        > a {
                            display: flex;
                            align-items: center;
                            &:hover {
                                span.linkIcon {
                                    transform: rotate(-40deg);
                                }
                            }
                            span.linkIcon {
                                color: #fff;
                                font-size: 26px;
                                margin-right: 10px;
                                // font-variation-settings: "wght" 200;
                                transform: rotate(0);
                                transition: all 0.5s;
                            }
                        }
                        > a.down {
                            display: inline-block;
                            padding: 14px 20px;
                            box-sizing: border-box;
                            background: #fff;
                            color: $ptColor;
                            font-size: 14px;
                            font-weight: 400;
                            transition: all 0.5s;
                            &:hover {
                                background: #000;
                                color: #fff;
                            }
                        }
                        .infoTitle {
                            width: 150px;
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 1200px){
    .main {
        width: 100%; height: 80vh;
        @keyframes circleAnimationLeft {
            0% {left: -100px; transform: translate(-50%, -50%); width: 50px; height: 50px;}
            60% {left: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px;}
            100% {left: 50%; transform: translate(-50%, -50%); width: 200vw; height: 200vw;}
        }
        @keyframes circleAnimationRight {
            0% {left: calc(100% + 100px); transform: translate(0, -50%); width: 50px; height: 50px;}
            60% {left: 50%; transform: translate(-50%, -50%); width: 50px; height: 50px;}
            100% {left: 50%; transform: translate(-50%, -50%); width: 200vw; height: 200vw;}
        }
        .center {
            width: 90%;
        }
    }

    .sectionTitle {
        font-size: 50px;
    }

    .profile {
        .profileWrap {
            padding: 150px 0;
            .center {
                width: 90%;
                .profileConts {
                    margin-bottom: 60px;
                    &:last-child {
                        margin-bottom: 0;
                    }
                    // left / right
                    > div {
                        width: 48%;
                        .conts {
                            min-height: 130px;
                            .listTitle {
                                font-size: 24px;
                            }
                            .listWrap {
                                .list {
                                    width: 100%;
                                    font-size: 16px;
                                    font-weight: 300;
                                    line-height: 1.4;
                                    word-break: keep-all;
                                    li {
                                        margin-bottom: 0;
                                    }
                                    li.title {
                                        width: 100%;
                                        margin-bottom: 5px;
                                        font-weight: 500;
                                    }
                                    li.context {
                                        width: 100%;
                                        text-align: left;
                                        margin-bottom: 20px;
                                        display: flex;
                                        &::before {
                                            content: "-";
                                            margin-right: 5px;
                                        }
                                    }
                                }
                                .list.right {
                                    text-align: right;
                                }
                            }
                        }
                    }
                    .right {
                        width: 45%;
                    }
                }
            }
        }
    }

    .portfolio {
        padding: 150px 0 80px;
        .center {
            width: 90%;
            .sectionTitle {
                color: #fff;
                margin-bottom: 80px;
            }
            .portfolioConts {
                .tabMenu {
                    li {
                        margin-right: 20px;
                        font-size: 22px;
                        &::after {
                            margin-top: 22px;
                        }
                    }
                    li.on {
                        color: #fff;
                        &::after {
                            width: 100%;
                            background: #fff;
                        }
                    }
                }
                .tabConts {
                    width: 100%; min-height: calc(100vmax + 20vh);
                    .arrowWrap {
                        top: calc(50vh + 60px); 
                    }
                    .tabList {
                        flex-direction: column;
                        .left { 
                            width: 100%; height: 50vh;
                            margin-bottom: 40px;
                        }
                        .right { 
                            width: 100%;
                            .portfolioTitle {
                                font-size: 38px;
                            }
                            .content {
                                .contentTitle {
                                    font-size: 16px;
                                }
                                .detailText {
                                    font-size: 16px;
                                }
                                .txt {
                                    font-size: 16px;
                                }
                                .detail ul li {
                                    font-size: 16px;
                                }
                                .linkText {
                                    font-size: 16px;
                                }
                            } 
                            .responBtn {
                                margin-bottom: 40px;
                                .btn {
                                    padding: 12px 20px;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }

    .otherWork {
        .otherWorkWrap {
            width: 100%; min-height: 100vh;
            padding: 150px 0 60px;
            .center {
                width: 90%;
                .sectionTitle {
                    margin-bottom: 60px;
                }
                .otherConts {
                    .tabMenu {
                        margin-bottom: 40px;
                        li {
                            margin-right: 20px;
                            font-size: 22px;
                            &::after {
                                margin-top: 22px;
                            }
                        }
                    }
                    .tabConts {
                        .tabList {
                            grid-template-columns: repeat(auto-fill, calc(33.333333% - 30px));
                            grid-gap: 30px;
                            .contWrap {
                                width: 100%; height: calc((100vw/3) - 60px);
                                .conText {
                                    a {
                                        h3 {
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }
    
        .otherWork.modal {
            .center {
                width: 90%; height: 80vh;
                .arrowWrap {
                    top: 0; right: 40%;
                    a {
                        background: rgba(0,0,0, 0.6);
                        width: 50px; height: 50px;
                    }
                }
                .left { 
                    width: 60%; height: 100%;
                }
                .right { 
                    width: 40%;
                    padding: 80px 40px;
                    .modalTitle {
                        font-size: 28px;
                    }
                    .linkBtn {
                        margin-bottom: 40px;
                        .btn {
                            padding: 14px 20px;
                        }
                    }
                    .contentWrap {
                        .content {
                            margin-bottom: 20px;
                            .contentTitle {
                                font-size: 16px;
                            }
                            .detailText {
                                font-size: 16px;
                            }
                        }
                    }
                }
            }
        }
    }

    .contact {
        align-items: center;
        padding: 0;
        .center {
            width: 90%;
            flex-direction: column;
            align-items: flex-start;
            .sectionTitle {
                width: 100%;
                margin-bottom: 100px;
            }
            .contactConts {
                width: 100%;
                flex-direction: row;
                align-items: flex-start;
                justify-content: space-between;
                .left {
                    width: 48%;
                    .contactTitle {
                        // font-size: 32px;
                        font-size: calc(1vw + 1vw + 1vmin);
                        margin-bottom: 0;
                    }
                }
                .right {
                    width: 48%;
                    .rightTitle {
                        font-size: 24px;
                    }
                    .infoWrap {
                        .infoList {
                            display: flex;
                            align-items: center;
                            padding: 20px 0;
                            box-sizing: border-box;
                            border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                            &:last-child {
                                border-bottom: 0;
                            }
                            > p, a {
                                font-size: 16px;
                                font-weight: 300;
                                letter-spacing: 0.5px;
                                color: #fff;
                            }
                            > a {
                                display: flex;
                                align-items: center;
                                &:hover {
                                    span.linkIcon {
                                        transform: rotate(-40deg);
                                    }
                                }
                                span.linkIcon {
                                    color: #fff;
                                    font-size: 26px;
                                    margin-right: 10px;
                                    // font-variation-settings: "wght" 200;
                                    transform: rotate(0);
                                    transition: all 0.5s;
                                }
                            }
                            > a.down {
                                display: inline-block;
                                padding: 14px 20px;
                                box-sizing: border-box;
                                background: #fff;
                                color: $ptColor;
                                font-size: 14px;
                                font-weight: 400;
                                transition: all 0.5s;
                                &:hover {
                                    background: #000;
                                    color: #fff;
                                }
                            }
                            .infoTitle {
                                width: 150px;
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 820px){
    .contact {
        height: 100vh;
        .center {
            .contactConts {
                width: 100%;
                flex-direction: column;
                .left {
                    width: 100%;
                    .contactTitle {
                        font-size: calc(1.4vw + 1.4vw + 1.4vmin);
                        margin-bottom: 60px;
                    }
                }
                .right {
                    width: 100%;
                    .rightTitle {
                        font-size: 24px;
                    }
                    .infoWrap {
                        .infoList {
                            &:last-child {
                                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                            }
                        }
                    }
                }
            }
        }
    }
}

@media screen and (max-width: 768px) {
    .main {
        width: 100%; height: 80vh;
        @keyframes circleAnimationLeft {
            0% {left: -100px; transform: translate(-50%, -50%); width: 30px; height: 30px;}
            60% {left: 50%; transform: translate(-50%, -50%); width: 30px; height: 30px;}
            100% {left: 50%; transform: translate(-50%, -50%); width: 300vw; height: 300vw;}
        }
        @keyframes circleAnimationRight {
            0% {left: calc(100% + 100px); transform: translate(0, -50%); width: 30px; height: 30px;}
            60% {left: 50%; transform: translate(-50%, -50%); width: 30px; height: 50px;}
            100% {left: 50%; transform: translate(-50%, -50%); width: 300vw; height: 300vw;}
        }
        .center {
            width: 90%;
            p {
                font-size: 20px;
            }
            .title {
                font-size: calc(4vw + 4vh + 2vmin);
            }
        }
    }

    .sectionTitle {
        font-size: 40px;
        margin-bottom: 60px;
        &::after {
            width: 12px; height: 12px;
        }
        span {
            font-size: 40px;
        }
    }

    .profile {
        .profileWrap {
            width: 100%; min-height: 100vh;
            padding: 100px 0 0;
            .center {
                width: 90%;
                .profileConts {
                    flex-direction: column;
                    margin-bottom: 0;
                    // left / right
                    > div {
                        width: 100%;
                        margin-bottom: 60px;
                        .conts {
                            min-height: 130px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                            .listTitle {
                                font-size: 22px;
                            }
                            .listWrap {
                                .list {
                                    font-size: 16px;
                                    li {
                                        margin-bottom: 20px;
                                    }
                                    li.title {
                                        width: 100%;
                                    }
                                    li.context {
                                        width: 100%;
                                        text-align: left;
                                    }
                                }
                                .list.right {
                                    text-align: right;
                                }
                            }
                        }
                    }
                    .right {
                        width: 100%;
                    }
                }
            }
        }
    }

    .portfolio {
        padding: 120px 0 80px;
        .center {
            width: 90%;
            .sectionTitle {
                color: #fff;
                margin-bottom: 40px;
            }
            .portfolioConts {
                .tabMenu {
                    flex-direction: column;
                    margin-bottom: 30px;
                    border-bottom-color: #fff;
                    li {
                        padding: 10px 0;
                        margin-right: 0;
                        margin-bottom: 0;
                        font-size: 20px;
                        &::before {
                            content: "#";
                            margin-right: 5px;
                            transition: all 0.4s;
                        }
                        &::after {
                            display: none;
                        }
                        &:last-child {
                            margin-bottom: 10px;
                        }
                    }
                    li.on {
                        color: #fff;
                    }
                }
                .tabConts {
                    width: 100%; 
                    min-height: calc(100vh + 110vmax);
                    // height: 1000vh;
                    .arrowWrap {
                        top: calc(50vh + 30px);
                        a {
                            width: 45px; height: 45px;
                        }
                    }
                    .tabList {
                        flex-direction: column;
                        .left { 
                            width: 100%; height: 50vh;
                            margin-bottom: 40px;
                            overflow: hidden;
                            overflow-y: auto;
                        }
                        .right { 
                            width: 100%;
                            .portfolioTitle {
                                font-size: 30px;
                                margin-top: 30px;
                                margin-bottom: 40px;
                            }
                            .content {
                                display: block;
                                border-bottom-color: rgba(255, 255, 255, 0.6);
                                .contentTitle {
                                    width: 100%;
                                    font-size: 16px;
                                    font-weight: 500;
                                    margin-bottom: 10px;
                                }
                                .detailText {
                                    width: 100%;
                                    font-size: 16px;
                                }
                                .txt {
                                    width: 100%;
                                    font-size: 16px;
                                }
                                .detail ul {
                                    margin-bottom: 20px;
                                    li {
                                        font-size: 16px;
                                        line-height: 1.4;
                                    }
                                }
                                .linkText {
                                    font-size: 16px;
                                }
                            } 
                            .responBtn {
                                margin-bottom: 20px;
                                .btn {
                                    padding: 12px 20px;
                                    font-size: 16px;
                                }
                            }
                        }
                    }
                }
            }
        }
    }
    
    .otherWork {
        .otherWorkWrap {
            width: 100%; min-height: 100vh;
            padding: 120px 0 60px;
            .center {
                width: 90%;
                .sectionTitle {
                    margin-bottom: 40px;
                }
                .otherConts {
                    .tabMenu {
                        flex-direction: column;
                        margin-bottom: 30px;
                        border-bottom-color: #000;
                        li {
                            padding: 10px 0;
                            margin-right: 0;
                            margin-bottom: 0;
                            font-size: 20px;
                            &::after {
                                display: none;
                            }
                            &:last-child {
                                margin-bottom: 10px;
                            }
                        }
                        li.on {
                            &::after {
                                width: 100%;
                            }
                        }
                    }
                    .tabConts {
                        .tabList {
                            grid-template-columns: repeat(auto-fill, calc(50% - 10px));
                            grid-gap: 10px;
                            .contWrap {
                                width: 100%; height: calc((100vw/2) - 20px);
                                margin-bottom: 20px;
                                .conText {
                                    a {
                                        h3 {
                                            font-size: 18px;
                                        }
                                    }
                                }
                            }
                        }
                    }
                }
            }
        }

        .otherWork.modal {
            .center {
                width: 90%; height: 80vh;
                overflow: hidden;
                overflow-y: auto;
                display: flex;
                flex-wrap: wrap;
                justify-content: flex-end;
                position: relative;
                scroll-behavior: smooth;
                margin-top: 30px;
                &::-webkit-scrollbar {
                    display: block;
                    width: 3px;
                    background-color: #ccc;
                }
                &::-webkit-scrollbar-thumb {
                    background-color: #000;
                }
                
                .arrowWrap {
                    top: 0; right: 0;
                    a {
                        width: 50px; height: 50px;
                    }
                }
                .left { 
                    width: 100%; height: auto;
                    overflow: hidden;
                    padding-bottom: 60px;
                    border-bottom: 1px solid #000;
                    &::-webkit-scrollbar {
                        display: none;
                        width: 3px;
                    }
                    img {
                        position: relative;
                    }
                }
                .right { 
                    width: 100%; 
                    padding: 60px 20px;
                    border-left: 0;
                    .modalTitle {
                        font-size: 28px;
                        padding-bottom: 10px;
                        margin-bottom: 40px;
                    }
                    .linkBtn {
                        margin-bottom: 40px;
                    }
                    .contentWrap {
                        .content {
                            margin-bottom: 20px;
                            &:last-child {
                                margin-bottom: 0;
                            }
                        }
                    }
                    .closeBtn {
                        position: fixed;
                        top: 4vh; right: 50%;
                        transform: translateX(50%);
                        border-radius: 100%;
                        box-sizing: border-box;
                        border: 1px solid #fff;
                        display: flex;
                        align-items: center;
                        justify-content: center;
                        width: 45px; height: 45px;
                        span.closeIcon {
                            font-size: 25px;
                            color: #fff;
                        }
                    }
                }
            }
        }
        .otherWork.modal.on {
            display: flex;
        }
    }

    .contact {
        min-height: 100vh;
        height: auto;
        padding: 120px 0 80px;
        .center {
            .sectionTitle {
                margin-bottom: 60px;
            }
            .contactConts {
                width: 100%;
                flex-direction: column;
                .left {
                    width: 100%;
                    .contactTitle {
                        font-size: calc(2.4vw + 2.4vw + 2.4vmin);
                        margin-bottom: 60px;
                    }
                }
                .right {
                    width: 100%;
                    .rightTitle {
                        font-size: 22px;
                    }
                    .infoWrap {
                        .infoList {
                            display: block;
                            &:last-child {
                                border-bottom: 1px solid rgba(255, 255, 255, 0.4);
                            }
                            .infoTitle {
                                width: 100%;
                                margin-bottom: 10px;
                                font-weight: 500;
                            }
                        }
                    }
                }
            }
        }
    }

}
